form(action="/", method="POST")
            div
                label(for="say") Enter URL here: 
                input(name="say" value="")
            br
            button(type="submit") Look for videos